<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Google Search Engine Settings -->
    <add key="Google.BaseUrl" value="https://www.googleapis.com/customsearch/v1?key={Key}&amp;cx={Context}&amp;q={Query}" />
    <add key="Google.ApiKey" value="AIzaSyB-wxeuq3dlGw9Ge9I0S2ry4oVPwMxnYkc" /><!--ADD_YOUR_GOOGLE_API_KEY_HERE-->
    <add key="Google.ContextId" value="000337826610893293511:uv2ahpmhnbc" /><!--ADD_YOUR_GOOGLE_CONTEXT_ID_HERE-->
    
    <!-- Bing Search Engine Settings -->
    <add key="Bing.BaseUrl" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={Query}" />
    <add key="Bing.ApiKey" value="307cd85b5f24464d9855bf4577b16f63" /><!--ADD_YOUR_BING_API_KEY_HERE-->
    
  </appSettings>
</configuration>

<!--<appSettings>
  <add key="Google.ContextId" value="000337826610893293511:uv2ahpmhnbc"/>
  <add key="Google.ApiKey" value="AIzaSyB-wxeuq3dlGw9Ge9I0S2ry4oVPwMxnYkc"/>
  <add key="Google.BaseUrl" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>

  <add key="BingWebSearchApiUrl" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={0}"/>
  <add key="BingWebSearchApiKey1" value="82d68fda9f4241e7a6fb864486c0dd1e"/>
  <add key="BingWebSearchApiKey2" value="307cd85b5f24464d9855bf4577b16f63"/>
  <add key="BingWebSearchApiKeyHeaderName" value="Ocp-Apim-Subscription-Key"/>
</appSettings>-->